.header-cont{
    display: block;
    width: 100%;
    height: 15vh;
    background-color: #C8A2C8;
}

.heading{
    display: inline-block;
    margin-left: 4vh;
    position: absolute;
    height: 8vh;
    color: rgb(20, 57, 72);
    font-size: 4vh;
    margin-top: 5vh;
    cursor: pointer;
}

.gg-shopping-bag {
    float: right;
    margin-right: 5vh;
    margin-top: 6vh;
    transform: scale(var(--ggs,1.8));
    font-size: 1vh;
    z-index: 100;
}.gg-shopping-bag:active{
    background-color:  #C8A2C8;
    transform: scale(var(--ggs,2));
}.gg-shopping-bag:hover{
    background-color:  lavender;
}
.gg-shopping-bag,
.gg-shopping-bag::after {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 3vh;
    height: 3vh;
    border: 0.3vh solid rgb(161, 11, 11);
    border-radius: 0.3vh;
    border-bottom-left-radius: 0.8vh;
    border-bottom-right-radius: 0.8vh;
}
.gg-shopping-bag::after {
    content: "";
    position: absolute; 
    width: 1.6vh;
    height: 1vh;
    border-top-left-radius: 18vh;
    border-top-right-radius: 18vh;
    border-bottom: 0;
    left: 0.45vh;
    bottom: 2.5vh;
}


.logo-img{
    display: inline-block;
    margin-top: 2vh;
    height: 10vh;
    margin-left: 5vh;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .logo-img{
        margin-left: 2vh;
    }
}

@media only screen and (min-width: 600px){
    .logo-img{
        margin-left: 2vh;
    }
    .heading{
        margin-left: 2vh;
    }
}