.container{
    height: auto;
    width: 100%;
    display: block;
    position: relative;
    z-index: 99;
}

.mid-cont{
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    overflow-y: scroll;
    z-index: 99;

}

.cards-cont{
    display: block;
    position: relative;
    width: 78vw ;
    height: 85vh;
    margin-left: auto;  
    margin-right: auto;
    z-index: 99;
}